.container {
  display: flex;
  justify-content: center;
  /* box-sizing: border-box; */
height: fit-content;
width:30%;
margin-left: 100px;
}
.detail-info {
  display: flex;
  padding: 10px;
  justify-content: center;
  /* border: 2px solid rgb(185, 172, 172); */
  flex-direction: column;
  margin-top: 40px;
  /* margin-left: 5px; */
  height: fit-content;
  width:70%;
  text-decoration: none;

  /* padding-bottom: 40px; */
}
.p-i {
  /* background-color: red; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  border: 2px solid rgb(177, 171, 171);
  text-decoration: none;
  box-sizing: border-box;
  padding: 10px;
  /* justify-content: center; */
  /* margin-left: 10px; */
}
